# Byte-compiled files
__pycache__/
*.py[cod]

# Environment and dependencies
venv/
.env
*.sqlite3

# PyCharm project files
.idea/

# Logs and temporary files
*.log
*.tmp

# my won files
learning.txt